body {
	font-size: 100.1%;
	font-family: sans-serif;
}

scoring {
	display: table;
	empty-cells: show;
}
th {
	border-bottom: 1px solid black;
	text-align: center;
	min-width: 1.5em;
}

td {
	text-align: center;
}

testresults {
	margin: 1em;
	padding: 1em;
	position: fixed;
	bottom: 1em;
	right: 1em;
	color: white;
}
testresults.success {
	background-color: green;
}
testresults.failed {
	background-color: red;
}
number {
}
number.currentRoll {
	border: 1px solid black;
}